body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 150, 0.5), rgba(0, 0, 50, 0.5));
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

.contact {
    position: relative;
    min-height: 10px;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("shreyaaa.jpg");
    background-color: #f2e4f1;
    background-size: cover;
}

.contact .content {
    max-width: 800px;
    text-align: center;
}

.contact .content h1 {
    font-size: 50px;
    color: #6495ED;
    font-style: bold;
    text-decoration-color: black;
}

.contact .content h2 {
    font-size: 24px;
    font-weight: 500;
    color: #ffb6c1;
}

.contact .content p {
    font-weight: 300;
    color: #fff;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container .contactInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .contactInfo .box {
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container .contactInfo .box .icon {
    min-width: 60px;
    height: 60px background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.container .contactInfo .box .icon img {
    width: 30px;
    height: 30px;
}

.container .contactInfo .box .text {
    display: flex;
    margin-left: 15px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}

.container .contactInfo .box .text h3 {
    font-weight: : 500px;
    color: #00bcd4;
}

.contactForm {
    width: 40%;
    padding: 40px;
    background: #fff;
}

.contactForm h2 {
    font-size: 30px;
    color: #333;
    font-weight: 500;
}

.contactForm .inputBox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contactForm .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    margin: 10px 0;
    font-size: 16px;
    color: #666;
    pointer-events: none;
    transition: 0.5s;
}

.contactFrom .inputBox input:focus~span,
.contactFrom .inputBox input:valid~span,
.contactFrom .inputBox textarea:focus~span,
.contactFrom .inputBox textarea:focus~span {
    color: #e91e63;
    font-size: 12px;
    transform: translate(-20px);
}

.contactForm .inputBox input[type="submit"] {
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

@media (max-width: 991px) {
    .contact {
        padding: 50px;
    }
    .container {
        flex-direction: column;
    }
    .container .contactInfo {
        margin-bottom: 40px;
    }
    .container .contactInfo,
    .contactForm {
        width: 100%;
    }
}


}